body {
    background-color: #fbfbfb;
  }
  @media (min-width: 991.98px) {
    main {
      padding-left: 240px;
    }
  }
  
  /* Sidebar */
  .sidebar {
      margin-top: 80px !important;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    padding: 58px 0 0; /* Height of navbar */
    box-shadow: 0 2px 5px 0 rgb(0 0 0 / 5%), 0 2px 10px 0 rgb(0 0 0 / 5%);
    width: 240px;
    /* z-index: 600; */
  }
  
  @media (max-width: 991.98px) {
    .sidebar {
      width: 100%;
    }
  }
  .sidebar .active {
    border-radius: 5px;
    box-shadow: 0 2px 5px 0 rgb(0 0 0 / 16%), 0 2px 10px 0 rgb(0 0 0 / 12%);
  }
  
  .sidebar-sticky {
    position: relative;
    top: 0;
    height: calc(100vh - 48px);
    padding-top: 0.5rem;
    overflow-x: hidden;
    overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
  }

  .kofi{
    padding:10px;
    font-family: "Comic Sans MS", cursive, sans-serif;
    font-size: 1.0em;
    float: right;
    color: #116699;
    /* text-shadow: 0 0 5px #000, 0 0 10px #000, 0 0 15px #000, 0 0 20px #000, 0 0 25px #000, 0 0 30px #000, 0 0 35px #000, 0 0 40px #000, 0 0 45px #000, 0 0 50px #000, 0 0 55px #000, 0 0 60px #000, 0 0 65px #000, 0 0 70px #000, 0 0 75px #000, 0 0 80px #000, 0 0 85px #000, 0 0 90px #000, 0 0 95px #000, 0 0 100px #000, 0 0 105px #000, 0 0 110px #000, 0 0 115px #000, 0 0 120px #000, 0 0 125px #000, 0 0 130px #000, 0 0 135px #000, 0 0 140px #000, 0 0 145px #000, 0 0 150px #000, 0 0 155px #000, 0 0 160px #000, 0 0 165px #000, 0 0 170px #000, 0 0 175px #000, 0 0 180px #000, 0 0 185px #000, 0 0 190px #000, 0 0 195px #000, 0 0 200px #000, 0 0 205px #000, 0 0 210px #000, 0 0 215px #000, 0 0 220px #000, 0 0 225px #000, 0 0 230px #000, 0 0 235px #000, 0 0 240px #000, 0 0 245px #000, 0 0 250px #000, 0 0 255px #000, 0 0 260px #000, 0 0 265px #000, 0 0 270px #000, 0 0 275px #000, 0 0 280px #000, 0 0 285px #000, 0 0 290px #000, 0 0 295px #000, 0 0 300px #000, 0 0 305px #000, 0 0 310px #000, 0 0 315px #000, 0 0 320px #000, 0 0 325px } */
  }
#maindiv{
  border:1px solid black;
  height:max-content;
  width:80%;
  margin-top:50px;
  padding: 20px;
  display:grid;
  grid-template-columns: 0.5fr 1fr ;
  gap: 10px;
}

#navlist{
  border: 1px solid;
  padding:10px;
}
#contents{
  border: 1px solid;
  padding:10px;

}
.inps{
  width: 100%;
  padding:10px;
  border-radius: 5px;
  border: 1px solid gray;
}